
<h1 class="text-center p-4">Admin Page</h1>
<h2 class="text-center p-4">Add Movies</h2>

  <form action="/admin/addmovie" method="post">
<div class="inputForm">
<div class = "labelDiv">
    <label> Movie Title </label><br>
        <input id="title" type="text" class="formInput" name="title"><br>
</div>
<br>
<div class = "labelDiv">
    <label> Year of Release </label><br>
        <input id="year" type="text" class="formInput" name="year"><br>
</div>
<br>
<div class = "labelDiv"></div>
    <label> Directed by </label><br>
        <input id="director" type="text" class="formInput" name="director"><br>
</div>
<br>
<div class = "labelDiv"></div>
    <label> Duration </label><br>
        <input id="duration" type="text" class="formInput" name="duration"><br>
</div>
<br>
<div class = "labelDiv"></div>
    <label> Image Link URL </label><br>
        <input id="img" type="text" class="formInput" name="img"><br>
</div>
<br>
<div class = "labelDiv"></div>
    <label> Genre </label><br>
        <input id="genre" type="text" class="formInput" name="genre"><br>
</div>
<br>
<div class = "labelDiv"></div>
    <label> Preview Link URL </label><br>
        <input id="trailer" type="text" class="formInput" name="trailer"><br>
</div>
<br>
<div class = "labelDiv"></div>
    <label> Plot </label><br>
        <input id="plot" type="text" class="formInput" name="plot"><br>
</div>
<br>
      <button class="addDB" type="submit">Add Movie to Database</button>
</div>
  </form>