

<h1 class="text-center p-4">Admin Page</h1>
<h2 class="text-center p-4">Current Shows</h2>

<section class="w-100 p-4 d-flex justify-content-center pb-4">
    <form style="width: 22rem;">
        <ul>
            {{#each dataDB}}
                <li><strong>Title: </strong>{{title}}</li>
                <li><strong>Duration: </strong>{{duration}}</li>
                <li><strong>Genre: </strong>{{genre}}</li>
            {{/each}}
        </ul>
        </br>
          <!-- Submit buttons -->
         <a href="admin/addmovie"><button type="button" class="btn btn-success btn-block mb-4">Add Movie</button></a>
         <a href="admin/createshow"><button type="button" class="btn btn-danger btn-block mb-4">Create Show</button></a>
    </form>
</section>