{{#each dataMovie}}
                {{data}}
               <div class="col-8 container-fluid">
                  <h1>Book the room</h1>
                  <div class="col-5">
                     <div class="bigImage">
                        <img src={{movie.img}} alt={{title}} />
                     </div>
                  </div>

                  <div class="offset-1 col-6">

                  </div>
               </div>
{{/each}}
        


