<section class="container-fluid imprint-wrapper">
    <div class="content col-6">

    <div class='lg-gap contact-messages'>
        <h1>Thank you for your order!</h1>
        <div>
            <h3>Information about your purchase:</h3>
            <ul>
                <li>Ticket ID: {{ticktNumber}}</li>
                <li>User: {{user}}</li>
                <li>Email: {{email}}</li>
                <li>Numbers of seat purchase: {{quantity}}</li>
            </ul>
            <h4>Will will send information about your ticket into your email.</h4>
        </div>
    </div>

</div>
</section>