<div class='lg-gap  text-center contact-messages'>
    <h1>Thank you!</h1>
    <p class="register-p">I really appreciate your opinion.  <strong>{{firstname}} {{lastname}}</strong> We will contact you as soon as possible</p>
</div>