<div class='login_register_container'>
    <h1 class='login_heading'>Contact us</h1>
    <p class="register-p">Please feel free to give us your opinion!</p>
  <form action='/contact/send' method='post'>
    <label for='firstname'>Firstname:</label>
    <input type='text' name='firstname' id='firstname' placeholder = "Firstname" required />
    <label for='lastname'>Lastname:</label>
    <input type='text' name='lastname' id='lastname' placeholder = "Lastname" required />
    <label for='email'>Email:</label>
    <input type='text' name='email' id='email' placeholder = "Email" required />
    <p><label for='message'>Message:</label></p>
    <textarea name='message' cols="68" id='message' placeholder = "Message" required /> 
    </textarea>

    <button class="register-btn" type='submit'>Submit</button>
  </form>
</div>