<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap 5 CDN Min Version CSS  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <!-- Carrousel -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
</head>
<body>
    <nav class="navbar navbar-light">
        <div class="navbar-wrapper">
            <div class="logo">
            <span class="mb-0"><a href="/">IRON CINEMA</a></span>
             </div>
            <div class="login">
                <a href="/login" target="_blank" class="btn btn-light">Login / Register</a>
            </div>
    </div>

    </nav>
   
    {{{body}}}
    <footer>
        <div class="footer-wrapper">
            <div class="left">
                <div class="footer-information">
                    <div class="logo"> IRON CINEMA</div>
                    <div class="location"> Storkower Str. 132, 10407 Berlin</div>
                    <div class="phone nr"> +49 15259796413</div>
                </div>
                <div class="footer-nav-information">
                    <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Imprint</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <a  href="/admin" class="btn btn-light">Admin Login</a>
                <div>Accepted payment methods:</div>
            </div>
        </div>
    </footer>
</body>
<!-- Bootstrap 5 CDN Min Version JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Carrousel -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
<script src="https://unpkg.com/flickity-hash@1.0.3/hash.js"></script>
<!-- Custom  Javascript-->
 <script src="/js/script.js"></script>
</html>