<div class='login_register_container'>
  <h1 class='login_heading'>Log in</h1>
  <hr />
  <form action='/login' method='POST'>
    <label id='name' for='username'>Username: </label>
    <input type='text' name='username' placeholder='Username' required />


	<label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder='Password' required />
    <i class="bi bi-eye-slash" id="togglePassword"></i>

    <div class='clearfix'>
      <button class='register-btn' type='submit'>Log in</button>
    </div>
  </form>

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</div>