<section class="container-fluid imprint-wrapper" >
<div class="content big-gap">
    <h1 class = 'text-middle'>Sitemap</h1>

  <ul class='tree'>
    <li><span class = 'main-btn'><a href='/'>Home</a></span>
      <ul>
        <li><span class = 'main-btn'><a href='/admin'>Admin</a></span>
          <ul>
            <li><span><a href='/admin/messages'>Message</a></span></li>
            <li><span><a href='/'>Edit show <i>Id</i></a></span></li>
            <li><span><a href='/admin/createshow'>Create Show</a></span></li>
            <li><span><a href='/admin/addmovie'>Add movie</a></span></li>
          </ul>
        </li>
        <li><span><a href='/'>Booking <i>Id</i></a></span></li>
        <li><span><a href='/register'>Register</a></span></li>
        <li><span><a href='/login'>Login</a></span></li>
        <li><span class = 'main-btn'><a href='/'>Footer </a></span>
          <ul>
            <li><span><a href='/imprint'>Imprint</a></span></li>
            <li><span><a href='/faq'>FAQ</a></span></li>
            <li><span><a href='/terms'>Terms of use</a></span></li>
            <li><span><a href='/contact'>Contact us</a></span></li>
            <li><span><a href='/map'>Sitemap</a></span></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  </div>    
  </section>
  