<div class='terms-container col-8 container-fluid'>
    <h2 class="terms-heading">Privacy is your right and our duty. We respect your concern for privacy,
      and we follow this privacy policy.</h2>
  <ol>
    <li class="list-item">Your Acceptance of these Terms and Conditions and National Partnership’s
      Policies</li>
    <p>Thank you for visiting the
      <strong><a href="/">IRON CINEMA website</a></strong>
      and/or any of the several other websites operated by the National
      Partnership for Women & Families (“National Partnership”). (All of the
      websites operated by the National Partnership shall be collectively
      referred to herein as the “Website.”) By using and/or visiting the
      Website, you agree to these Terms and Conditions of Use and Privacy
      Policy, as they may be amended from time to time. If you do not agree to
      any of these terms, please do not use the Website.</p>
    <li class="list-item">The Website</li>
    <p class="p-item">National Partnership hereby grants you permission to use the Website,
      provided that you use the Website solely for your personal, noncommercial
      use and in complete compliance with the terms and conditions set forth
      herein. National Partnership hereby grants you permission to make one copy
      of any part of the Website in any medium to use for your personal,
      noncommercial use, but you must obtain National Partnership’s prior
      consent to make additional copies, to distribute any copies or to publicly
      display any of the information provided on the Website.</p>
    <li class="list-item">Restrictions on Use</li>
    <p class="p-item">You agree not to use or launch any automated system, including without
      limitation, robots, spiders or offline readers, that accesses the Website
      in a manner that sends more request messages to National Partnership’s
      servers in a given period of time than a human can reasonably produce in
	@@ -39,8 +39,8 @@
      Website, nor to use the communication systems provided by the Website for
      any commercial solicitation purposes. You agree not to solicit any users
      of the Website for any commercial purposes.</p>
    <li class="list-item">Links to Third Party Websites</li>
    <p class="p-item">The Website contains links to third party websites that are not owned or
      controlled by National Partnership. National Partnership has no control
      over, and assumes no responsibility for, the content, privacy policies, or
      practices of any third party websites. By using the Website, you expressly
	@@ -49,8 +49,8 @@
      encourages you to be aware when you leave the Website and to read the
      terms and conditions and privacy policy of each other website that you
      visit.</p>
    <li class="list-item">Intellectual Property Rights</li>
    <p class="p-item">The content on the Website, including, without limitation, the text,
      software, scripts, graphics, photos, sounds, music, videos, interactive
      features and the like ("Content") and the trademarks, service marks and
      logos contained therein, are owned by or licensed to National Partnership,
	@@ -71,8 +71,8 @@
      security related features of the Website or features that prevent or
      restrict use or copying of any Content or enforce limitations on use of
      the Website or the Content therein.</p>
    <li class="list-item">The Information National Partnership Collects Through the Website</li>
    <p class="p-item">National Partnership collects different kinds of information about the
      users to the Website:</p>
    <ol>
      <li>User Provided Information: You may provide certain personally
	@@ -104,8 +104,8 @@
        remove that personal data provided to us.</li>
    </ol>

    <li class="list-item">The Way National Partnership Uses the Information It Collects</li>
    <p class="p-item">If you submit personally identifiable information to us through the
      Website, we use your personal information to operate, maintain, and
      provide to you the features and functionality of the Website. In addition,
      we may add you to our mailing lists (email or otherwise) and send you
	@@ -136,8 +136,8 @@
      our marketing campaigns, to monitor aggregate metrics, such as total
      number of visitors, and pages viewed, and to track your entries and
      submissions.</p>
    <li class="list-item">When National Partnership Discloses Information</li>
    <p class="p-item">We do not share your personally identifiable information (such as name or
      email address) with third parties without your consent. We do share
      non-personally-identifiable information (such as anonymous user usage
      data, referring/exit pages and URLs, platform types, number of clicks)
	@@ -156,8 +156,8 @@
      allegations, to assist government enforcement agencies, to protect the
      security or integrity of our Website, and to protect the rights, property,
      or personal safety of National Partnership, our users or others.</p>
    <li class="list-item">Posting Material to the Website</li>
    <p class="p-item">National Partnership welcomes your postings to the Website, as part of
      our blog or in other interactive areas of the Website. By submitting
      content to us for posting on the Website (including, without limitation,
      text, illustrations, photographs and/or videos), you agree to the terms
	@@ -193,22 +193,22 @@
      the Website in violation of these terms and conditions may result in,
      among other things, termination or suspension of your rights to post
      content to the Website.</p>
    <li class="list-item">Takedown Provisions</li>
    <p class="p-item">If you believe that materials that have been posted on the Website have
      copied your work in a way that constitutes copyright infringement, please
      provide National Partnership’s Copyright Agent (identified below) the
      following information:</p>
    <ol>
      <li class="small-list">An electronic or physical signature of the person authorized to act on
        behalf of the owner of the copyright interest.</li>
      <li class="small-list">A description of the copyrighted work that you claim has been
        infringed.</li>
      <li class="small-list">A description of where (by URL and physical description) the material
        that you claim is infringing is located on the Website.</li>
      <li class="small-list">Your address, telephone number, and email address.</li>
      <li class="small-list">A statement by you that you have a good faith belief that the disputed
        use is not authorized by the copyright owner, its agent, or the law.</li>
      <li class="small-list">A statement by you, made under penalty of perjury, that the above
        information in your notice is accurate and that you are the copyright
        owner or authorized to act on the copyright owner’s behalf.</li>
    </ol>
	@@ -219,8 +219,8 @@
      opportunity to demand reposting. You will receive notice of such if the
      individual properly requests reposting. National Partnership will not
      accept third party materials from repeat offenders.</p>
    <li class="list-item">Warranty Disclaimer</li>
    <p class="p-item">YOU AGREE THAT YOUR USE OF THE WEBSITE SHALL BE AT YOUR SOLE RISK. TO THE
      FULLEST EXTENT PERMITTED BY LAW, NATIONAL PARTNERSHIP, ITS OFFICERS,
      DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR
      IMPLIED, IN CONNECTION WITH THE WEBSITE AND YOUR USE THEREOF. NATIONAL
	@@ -245,8 +245,8 @@
      BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE
      PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT,
      YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.</p>
    <li class="list-item">Limitation of Liability</li>
    <p class="p-item">IN NO EVENT SHALL NATIONAL PARTNERSHIP, ITS OFFICERS, DIRECTORS,
      EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT,
      INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER
      RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II)
	@@ -268,8 +268,8 @@
      LIABLE FOR USER SUBMISSIONS OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL
      CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE
      FOREGOING RESTS ENTIRELY WITH YOU.</p>
    <li class="list-item">Indemnity</li>
    <p class="p-item">You agree to defend, indemnify and hold harmless National Partnership,
      its officers, directors, employees and agents, from and against any and
      all claims, damages, obligations, losses, liabilities, costs or debt, and
      expenses (including but not limited to attorneys’ fees) arising from: (i)
	@@ -278,17 +278,17 @@
      right or any law, including without limitation any copyright, property, or
      privacy right; or (iv) any claim that content you submit for posting on
      the Website violates any third party right or any law.</p>
    <li class="list-item">Ability to Accept these Terms and Conditions of Use and Privacy Policy</li>
    <p class="p-item">You affirm that you are either 18 years of age or older, or an
      emancipated minor, or possess legal parental or guardian consent, and are
      fully able and competent to enter into the terms, conditions, obligations,
      affirmations, representations, and warranties set forth in these Terms and
      Conditions of Use and Privacy Policy, and to abide by and comply with
      these Terms and Conditions of Use and Privacy Policy. In any case, you
      affirm that you are at least 13 years of age, as the Website is not
      intended for children under 13.</p>
    <li class="list-item">Our Commitment To Children’s Privacy</li>
    <p class="p-item">Protecting the privacy of young children is especially important. For
      that reason, National Partnership does not knowingly collect or maintain
      personally identifiable information or non-personally-identifiable
      information on the Website from persons under 13 years of age, and no part
	@@ -298,8 +298,8 @@
      information of persons under 13 years of age has been collected on the
      Website without verified parental consent, then National Partnership will
      take the appropriate steps to delete this information.</p>
    <li class="list-item">In the Event of Merger, Sale, or Bankruptcy</li>
    <p class="p-item">These Terms and Conditions of Use and Privacy Policy, and any rights and
      licenses granted hereunder, may not be transferred or assigned by you, but
      may be assigned by National Partnership without restriction. In addition,
      in the event that National Partnership is acquired by or merged with a
	@@ -311,8 +311,8 @@
      application of laws or equitable principles affecting creditors' rights
      generally, we may not be able to control how your personal information is
      treated, transferred, or used.</p>
    <li class="list-item">General</li>
    <p class="p-item">These Terms and Conditions of Use and Privacy Policy shall be governed by
      the internal substantive laws of the District of Columbia, without respect
      to its conflict of laws rules. Any claim or dispute between you and
      National Partnership that arises in whole or in part from the Website
	@@ -330,21 +330,20 @@
      Partnership’s failure to assert any right or provision under these Terms
      and Conditions of Use and Privacy Policy shall not constitute a waiver of
      such right or provision.</p>
    <li class="list-item">Changes and Updates to these Terms and Conditions of Use and Privacy
      Policy</li>
    <p class="p-item">This Terms and Conditions of Use and Privacy Policy may be revised
      periodically and this will be reflected by the date below. Please revisit
      this page to stay aware of any changes. Your continued use of the Website
      constitutes your agreement to this Terms and Conditions of Use and Privacy
      Policy and any future revisions. Please note that, in general, we only use
      your personal information in the manner described in the privacy policy in
      effect when we received the personal information you provided, unless we
      obtain additional permissions from you regarding such use.</p>
    <li class="list-item">Contact Us</li>
    <p class="p-item">If you have any questions about the Website or these Terms and Conditions
      of Use and Privacy Policy, please
      <a href='/contact'>contact us</a></p>
    <i>November 25, 2022</i>
  </ol>
</div>