 /* Special Css DO NOT TOUCH START */
 nav .logo div {
  text-align:center;
  animation: border-flicker 2s linear infinite;
}

nav .logo  .blink {
  color:#FF00E6;
  font-size:30px;
  letter-spacing:12px;
  animation: text-flicker 3s linear infinite;
  filter: blur(2);
}

#broke-light {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  
  19% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  80% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}
 /* Special css DO NOT TOUCH END */

 /* General Css Start */
 body{
  background-color: #0d1133;
  color: #fff;
  font-family: 'Inter', sans-serif;
 }

.btn-book {
  background: #B68B3A;
  border-radius: 5px;
  color:#fff;
  transition: background-color 0.5s ease;
}

.btn-book:hover {
  background: #d1a24d; 
  border:1px solid #fff;
}

.big-gap {
  margin-bottom: 200px;
}
.lg-gap {
  margin-bottom: 400px;
}

.max-gap{
  margin-bottom: 600px;
}
 /* General Css End */


/* Nav Section Start  */
nav.navbar {
  background-color:  #070A23;
  min-height: 50px;
  padding:10px 0;
}

nav div {
  color: #fff;
}

nav .navbar-wrapper {
  padding:0px 5%;
  width: 100%;
  display: flex;
  justify-content:space-between;
}

nav .navbar-wrapper .logo {
  font-family: 'Archivo Black', sans-serif;
}

nav .navbar-wrapper .login{
  display: flex;
  align-items: center;
}

nav .navbar-wrapper .login a{
  margin: 0 20px;
}

nav .navbar-wrapper .login .user{
  margin-right: 20px;
}
/* Nav Section End  */


.cell-title {
  font-family: 'Archivo';
  font-style: normal;
  font-size: 36px;
  line-height: 39px;
}

.cell-wrapper {
  padding-left: 5%;
  padding-top: 95px;
  height: 100%;
  background: linear-gradient(102.19deg, #0D1133 18.46%, rgba(13, 17, 51, 0.85) 44.53%, rgba(13, 17, 51, 0) 75.88%, rgba(13, 17, 51, 0) 91.12%);
}

.cell-wrapper div {
  color:#fff;
  margin: 20px 0;
}



.cell-wrapper .cell-buttons .btn-book {
  background: #B68B3A;
  border-radius: 5px;
  color:#fff;
  transition: background-color 0.5s ease;
}


.cell-wrapper .cell-buttons .btn-book:hover {
  background: #d1a24d; 
  border:1px solid #fff;
}


.cell-content {
  width: 430px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color:#fff;
}

.cell-buttons a{
  margin-right: 30px;
}


.hero-section .carousel-inner .carousel-control-next, .carousel-control-prev {
  color:black;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

/* Nav Section End  */


/* Carousel  Start */



* { box-sizing: border-box; }
.flickity-page-dots{
  bottom: -35px;
}
.flickity-page-dots .dot{
  background-color:#fff;
  width: 12px;
  height: 12px;
}


.carousel {
  background: #0d1133;
}

.carousel-cell {
  width: 100%;
  height: 500px;
  background: #8C8;
  counter-increment: carousel-cell;
}


.carousel-nav .carousel-cell {
  height: 80px;
  width: 100px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}

.main-wrapper {
  background-color: #0d1133;
  padding: 60px 5%;
  color:#fff;
}

.main-wrapper .row {
  display: flex;
  justify-content: center;
}

.main-wrapper span{
  margin: 20px 0px;
}

.main-wrapper .row {
  margin-top: 50px;
}

.main-wrapper img {
  width: 230px;
  height: 345px;
  border-radius: 5px; 
}

.main-wrapper .row-wrapper {
  width: 290px;
  padding: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 30px;
  background-color: #0d1133;
  transition: all 0.5s ease;

}

.main-wrapper .row-wrapper:hover {
  background-color: #161A3F;
}


.main-wrapper .row-wrapper a {
  display: block;
  margin: 10px auto;
  visibility: hidden;
}

.main-wrapper .row-wrapper:hover a{
  visibility:visible;
}

.main-wrapper .title {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  max-width: 230px ;
}

/* Seats Class Start */


/* Seats Class Start */

.ironhack-room {
  display: flex;
  justify-content: center;
  align-items: center;

}
.room-seats {
  display: flex;
}
.room-seats .seat {
  cursor: pointer;
}
.room-seats .seat:hover:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.room-seats .seat.active:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}
.left .room-row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  margin: 90px 15px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  transform: skew(20deg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row-2 {
  transform: skew(-13deg);
}
.left .row-2 .seat {
  transform: skew(18deg);
}
.left .row-3 {
  transform: skew(-12deg);
}
.left .row-3 .seat {
  transform: skew(16deg);
}
.left .row-4 {
  transform: skew(-11deg);
}
.left .row-4 .seat {
  transform: skew(15deg);
}
.left .row-5 {
  transform: skew(-10deg);
}
.left .row-5 .seat {
  transform: skew(12deg);
}
.left .row-6 {
  transform: skew(-9deg);
}
.left .row-6 .seat {
  transform: skew(10deg);
}
.left .row-7 {
  transform: skew(-7deg);
}
.left .row-7 .seat {
  transform: skew(8deg);
}
.right {
  margin-left: 50px;
}
.right .room-row {
  transform: skew(7deg);
  margin: 0 6px;
}
.right .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  margin: 90px 15px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  transform: skew(-8deg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row-2 {
  transform: skew(9deg);
}
.right .row-2 .seat {
  transform: skew(-10deg);
}
.right .row-3 {
  transform: skew(10deg);
}
.right .row-3 .seat {
  transform: skew(-12deg);
}
.right .row-4 {
  transform: skew(11deg);
}
.right .row-4 .seat {
  transform: skew(-15deg);
}
.right .row-5 {
  transform: skew(12deg);
}
.right .row-5 .seat {
  transform: skew(-16deg);
}
.right .row-6 {
  transform: skew(13deg);
}
.right .row-6 .seat {
  transform: skew(-18deg);
}
.right .row-7 {
  transform: skew(15deg);
}
.right .row-7 .seat {
  transform: skew(-20deg);
}

/* Seats Class End */


/* Seats Class End */


/* Footer Section Start */
footer {
  background-color: #070A23;	
}

footer .footer-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0px 5%;
}

footer .footer-wrapper .left, footer .footer-wrapper .right{
  margin-top: 30px;
}

footer .footer-wrapper .left div , footer .footer-wrapper .right div{
  margin:15px 0px;
}

footer .footer-nav-information {
  color: #fff;
  font-size: 16px;
}

footer .footer-nav-information ul {
  padding:0px;
  margin:0px;
}

footer .footer-nav-information ul li {
  list-style: none;
  display: inline-block;
  margin-right:45px;
}

footer .footer-nav-information ul li a {
 color:#fff;
 text-decoration: none;
}

footer .footer-wrapper .right .payment-icon-wrapper {
  margin-top: 30px;
}

/* Footer section End */



/* Login and Register section start */
.login_register_container {
  /* padding: 25px 300px 25px 300px; */
  margin: 50px;
  outline: none;
  font-size: 16px;
  color: #ffff;
  margin-bottom: 250px;
}

.login_register_container .login_heading {
  padding: 10px 0;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.login_register_container form input[type='text'] {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

.login_register_container form i {
  margin-left: -45px;
  top: 4px;
  cursor: pointer;
  color: #0d1133;
  font-size: 26px;
  position: relative;
}


.login_register_container form input[type='password'] {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

.login_register_container form input[type='text']:focus,
.login_register_container form input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

.login_register_container form input[type='checkbox']{
  margin-right: 20px;
}




.login_register_container .register-p {
  text-align: center;
}

.login_register_container input[type='checkbox']:focus {
  align-items: flex-end;
}

.login_register_container  .username_taken {
  margin-top: 15px;
}


.login_register_container .register-btn {
  background-color: #070a23;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.login_register_container .register-btn:hover {
  border: none;
  background-color: #070a23;
}

.login_register_container .register-btn:onclick {
  border: 1px solid white;
  background-color: #070a23;
}
/* Login and Register section end */


/* Faq section Start */
.faq-wrapper {
  min-height: 80vh;
}
/* Faq section End */


/* Terms and Condition section Start */
.terms-container {
  margin-top:100px;
}

.terms-heading {
  font-size: 40px;
  font-weight: bold;
}

.terms-container .list-item {
  margin-bottom: 15px;
  margin-top: 50px;
  font-weight: bold;
}

.terms-container p {
  line-height: 26px;
}

.terms-container .small-list {
  padding-bottom: 5px;
}

/* Terms and Condition section End */


.booking-room {
  display: flex;
  justify-content: center;
}



/* Contact messages  start */

.contact-messages{
  margin-top: 200px;
}


/* Contact messages  end */



/* Imprint-wrapper start */
.imprint-wrapper{
  display: flex;
  justify-content: center;
  margin:60px 0px;
}

.imprint-wrapper svg {
  width: 60px;
  height: 60px;
}
/* Imprint-wrapper end */

/* Booking Room Start */
.booking-room {
  margin: 100px 0px;
}

.booking-room h1 {
  margin:30px 0;
}

.booking-room ul {
 
}

.booking-room ul li {
 list-style:circle;
 margin: 30px 0;
 font-size: 25px;
}

.booking-room ul li:first-child{
  margin-top: 0;
}

.booking-room .bigImage img{
  width: 400px;
  height: auto;
}

.booking-room form input[type="submit"] {
  display: block;
}
/* Booking Rom End */

/* Sitemap Section Start */
.tree,
.tree ul,
.tree li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.tree {
  margin: 80px 5em;
  text-align: center;
}
.tree,
.tree ul {
  display: table;
}
.tree ul {
  width: 100%;
}
.tree li {
  display: table-cell;
  padding: 0.5em 0;
  vertical-align: top;
  outline: none;
}
/* _________ */
.tree li:before {
  outline: solid 1px white;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree li:first-child:before {
  left: 50%;
}
.tree li:last-child:before {
  right: 50%;
}

.tree code,
.tree span {
  border: solid 0.1em white;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.2em 0.5em;
  position: relative;
}
/* If the tree represents DOM structure */

/* | */
.tree ul:before,
.tree code:before,
.tree span:before {
  outline: solid 1px white;
  content: '';
  height: 0.5em;
  left: 50%;
  position: absolute;
}
.tree ul:before {
  top: -0.5em;
}
.tree code:before,
.tree span:before {
  top: -0.55em;
}


.tree a {
  text-decoration: none;
  color: #fff;
}

.tree .main-btn {
  background: #B68B3A;
  transition: all 0.5s ease;
}

.tree .main-btn:hover{
  background: #d1a24d;
}

.tree .main-btn:hover a{
  color: #070A23;
}
/* The root node doesn't connect upwards */
.tree > li {
  margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
  outline: none;
}

/* Sitemap Section End */